#include <physical_layouts.dtsi>

/ {
    physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  200   30       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   30       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  900   50       0     0     0>
            , <&key_physical_attrs 100 100 1000   30       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200   30       0     0     0>
            , <&key_physical_attrs 100 100 1300   50       0     0     0>
            , <&key_physical_attrs 100 100 1400   50       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  200  130       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  130       0     0     0>
            , <&key_physical_attrs 100 100  500  150       0     0     0>
            , <&key_physical_attrs 100 100  900  150       0     0     0>
            , <&key_physical_attrs 100 100 1000  130       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  130       0     0     0>
            , <&key_physical_attrs 100 100 1300  150       0     0     0>
            , <&key_physical_attrs 100 100 1400  150       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  200  230       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  230       0     0     0>
            , <&key_physical_attrs 100 100  500  250       0     0     0>
            , <&key_physical_attrs 100 100  900  250       0     0     0>
            , <&key_physical_attrs 100 100 1000  230       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  230       0     0     0>
            , <&key_physical_attrs 100 100 1300  250       0     0     0>
            , <&key_physical_attrs 100 100 1400  250       0     0     0>
            , <&key_physical_attrs 100 100  250  330       0     0     0>
            , <&key_physical_attrs 100 100  350  330       0     0     0>
            , <&key_physical_attrs 100 100  450  350       0     0     0>
            , <&key_physical_attrs 100 100  550  350 (-6000)   600   350>
            , <&key_physical_attrs 100 100  850  350    6000   900   350>
            , <&key_physical_attrs 100 100  950  350       0     0     0>
            , <&key_physical_attrs 100 100 1050  330       0     0     0>
            , <&key_physical_attrs 100 100 1150  330       0     0     0>
            ;
        };
};